
.dropdown:hover>.dropdown-menu {
    display: block;
}


footer
{
    text-align: center;
    color: black;
}

.form-control
{
    width: 50%;
    display: block;
    text-align: center;
    margin-left: 25%;

}

.comments
{
    text-justify: auto;
}

.card-img-top
{
    height: 240px;

}

.img-fluid
{
    width:1110px;
    height: 380px;
}

#containerimgpost.card.mb-4
{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.input-button::-webkit-file-upload-button
{
    visibility : hidden;
}

.input-button::before
{
  content: 'Modifier l\'image';
  display: inline-block;
  border: 5px #f9f9f9 solid;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border-radius: 3px;
  
}

.input-button-form
{
  border: 5px #f9f9f9 solid;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border-radius: 3px;
}

 #form
 {
     display: flex;
     flex-direction: column;
 }
 
 .report
 {
     border-radius : 5px;
     background : #FFC433;
     color: #ffffff;
     text-decoration: none;
     padding: 5px;
 
 }

 #editpostimg
 {
     width: 350px;
 }