
.dropdown:hover>.dropdown-menu {
    display: block;
}


footer
{
    text-align: center;
    color: black;
}

.form-control
{
    width: 50%;
    display: block;
    text-align: center;
    margin-left: 25%;

}

.comments
{
    text-justify: auto;
}

