#comments
{
    display: flex;
    justify-content: center;
}

#allcomment
{
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
    width: 550px;

}
.comment
{
    background-color: white;
 
}

h2
{
    text-align: center;
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    
}

#deconnexion
{
    text-align: center;
}

.containeradmin
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#content
{
    margin-top: 4%;
}